*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root{
    --navlinkcolor: rgba(255, 255, 255, 0.7);
    --main-color:#fff;
    --primarycolor: #FFF;
    --secondarycolor: #E8676B;
    --tertiary: #89e23c;
    --hovercolor: crimson;
    --textcolor: #3d4451;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #EFEFEF;
    overflow-x: hidden;
}

.scrolling-page{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.container {
    width: 100%;
    height: 3.75rem;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}

.container .logo {
    max-width: 110px;
    padding: 0 10px;
    overflow: hidden;
}

.container .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3.75rem;
}

.container .logo a img {
    max-width: 100%;
    max-height: 3.75rem;
}

.container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0.625rem;
}

.container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding: 0 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.container .navbar ul li a:hover {
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    transition: background-color ease-in 200ms;
    -webkit-transition: background-color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms;
    -o-transition: background-color ease-in 200ms;
}

.container .navbar ul .close {
    display: none;
    text-align: right;
    padding: 10px;
}

.container .navbar ul .close span {
    font-size: 4rem;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.container .navbar .icon-bar {
    padding: 18px 8px;
    width: 50px;
    height: 60px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.container .navbar .icon-bar i {
    background-color: white;
    height: 4px;
}

#background-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:inset 0 0 0 2000px rgba(0 , 0, 0, 0.45);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
    -o-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

@keyframes blink{
    0%, 100%{border-right: 0.25rem solid transparent;}
    50%{border-right: 0.25rem solid var(--secondarycolor);}
}

.typewrite > .wrap{
    animation: blink 1000ms linear infinite;
    -webkit-animation: blink 1000ms linear infinite;
    -moz-animation: blink 1000ms linear infinite;
    -o-animation: blink 1000ms linear infinite;
}

.section-container{
    width: 80%;
    margin: 2.75rem auto;
    background-color: var(--primarycolor);
    -webkit-background-composite: var(--primarycolor);
}

#about h1, #about h2, #about h3{
    color: var(--textcolor);
    padding: 1.2rem 2rem;
    text-align: center;
}

#about p{
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
}

.download-resume{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 2rem;
}

.button{
    border: 2px solid black;
    padding: 1.5rem 3rem;
    color: var(--textcolor);
    font-weight: 500;
}

.button:hover{
    cursor: pointer;
    background-color: var(--hovercolor);
    color: var(--primarycolor);
    border: 2px solid var(--primarycolor);
    transition: background-color ease-in 250ms;
    -webkit-transition: background-color ease-in 250ms;
    -moz-transition: background-color ease-in 250ms;
    -o-transition: background-color ease-in 250ms;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#projects{
    width: 80%;
    margin: 2.75rem auto;
    padding: 1%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}

#projects h1{
    padding: 1.5%;
}
#projects-gallery{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    row-gap: 2.5rem;
    column-gap: 1.25rem;
}

.project{
    background-color: var(--primarycolor);
    padding: 2%;
}

.project:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.project h2, .project img, .project p{
    padding: 1.5% 1%;
}

.project img{
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.project-buttons{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}


.demo, .demo:hover, .code, .code:hover{
    width: 40%;
}

.demo a, .demo a:visited, .code a, .code a:hover{
    background-color: var(--hovercolor);
    border: none;
    border-radius: 5px;
    color: var(--primarycolor);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

#resume{
    width: 80%;
    margin: 2.75rem auto;
    padding: 1%;
    color: var(--textcolor);
}

#resume h1{
    padding: 1.5%;
    text-align: center;
}

#resume-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: .75rem;
    column-gap: 1.25rem;
    justify-items: center;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

.card{
    width: 100%;
    max-width: 62.5rem;
    padding: 1.25rem;
    background-color: var(--primarycolor);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 1px 6px gray;
    font-size: 1rem;
    color: var(--textcolor);
}

#profile-section{
    max-width: 31.25rem;
    grid-row: 1/3;
    grid-column: 1/2;
}

#profile-picture{
    position: relative;
    max-width: 18.75rem;
    margin: 0 auto;
}

.Edgar{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#profile-section h2{
    color: var(--secondarycolor);
    font-size: 1.4rem;
}

#profile-info div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon{
    color: var(--hovercolor);
    display: inline-block;
    padding-right: .6rem;
    float: left;
}

hr{
    margin: .75rem auto;
    height: .25rem;
    border: none;
    background-color: var(--secondarycolor);
}

#skills p{
    display: inline-block;
    margin: .25rem;
    padding: .5rem 1.25rem;
    font-weight: 600;
    border-radius: 1.25rem;
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
}
@media only screen and (max-width: 568px) {
    #background-image{
        font-size: 1rem!important;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .container .logo {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .container .navbar {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }

    .container .navbar ul {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        background: var(--main-color);
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
    }

    .container .navbar ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;
        font-size: 1.1rem;
        height: auto;
        line-height: normal;
        text-align: center;
    }

    .container .navbar ul .close {
        display: block;
    }

    .container .navbar .icon-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .container .navbar ._Menus-show {
        left: 0;
        padding-bottom: 2rem;
    }

    #background-image{
        font-size: 1.5rem;
    }
}


